<div class="d-flex align-item-center justify-content-center">
  <h1>Welcome To Expenses</h1>
</div>
<h2>Add Your Category & Sub-Category </2>

<%= form_with url: categories_path  do |form| %>
  <%= form.text_field :category %>
  
  <button class="btn btn-outline-success" type="submit">Submit</button>
  <% end %>
  
 