<%= fields_for "category[subcategories_attributes][#{subcategory.persisted? ? subcategory.id : subcategory.object_id}]", subcategory do |form|%>
  <div class="col" >
    <%= form.hidden_field :id %>
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
<% end %>
