<h2>Add Your Category </h2>

<%= form_with model: @category do |form| %>
  <div class="mb-3" >
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <%= form.submit "Submit", class: 'btn btn-outline-success' %>
<% end %>
  

