<h3 class="text-primary"><%= @category.name.upcase %></h3>

<table class="table table-bordered">
  <body>
    <thead>
      <tr>
        <th scope="col">Sub-Category_id</th>
        <th scope="col">Sub-Category</th>
      </tr>
    </thead>
    <%  @category.subcategories.each do |subcategory| %>
      <tr>
        <th ><%= subcategory.id %></th>
        <th ><%= subcategory.name %></th>
      </tr>
    <% end %>
  </body>
</table>

<%= link_to "Back to Categories",categories_path, class: "btn btn-sm btn-primary mb-3" %>
