
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Parent Id</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <thead>
  <tr>
    <th ><%= @category.id %></th>
    <th ><%= @category.parent_id %></th>
    <th ><%= @category.name %></th>
  </tr>
</thead>
  <tbody>
</table>
