<h3 ><%= @category.name.upcase %></h3>

<table class="table table-bordered">
  <body>
    <thead>
      <tr>
        <th scope="col">Parent_Id</th>
        <th scope="col">Sub-Category</th>
        <th scope="col">Sub-Category_id</th>
      </tr>
    </thead>
    <%  @category.subcategories.each do |subcategory| %>
      <tr>
        <th ><%= @category.id %></th>
        <th ><%= subcategory.name %></th>
        <th ><%= subcategory.id %></th>
      </tr>
    <% end %>
  </body>
</table>
