<h1>Edit <%= @category_name.humanize %> Transactions</h1><br>

<turbo-frame id=<%= dom_id(@transaction, @category_name.humanize)%>>
  <%= render 'transaction_edit', {category_name: @category_name, transaction_data: @transaction_data} %>
</turbo-frame> 

<%= link_to "Back", :back %>
