<h2> upload your file </h2>

<%= form_with url: transactions_path  do |form| %>

  <%= form.file_field :csv_file %>
  
  <button class="btn btn-outline-success" type="submit">Submit</button>
  <% end %>
  